<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/todo.css" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="/">
      <div>
        To-Do: <input type="text" name="todo">
        <input type="submit" value="Save">
      </div>
    </form>
    <div id="todo-list"></div>
    <script src="/js/todo.js"></script>
  </body>
</html>